.work {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    background-color: $primary;
    box-shadow: 0 15px 25px rgba($black, .35);
    border-radius: 5px;
    overflow: hidden;
    img {
        width: 100%;
    }
    @include breakpoint($mobile-bp) {
        flex-direction: column;
    }
}

.work__preview {
    width: 100%;
    flex-grow: 1;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}

.work__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem;
    @include breakpoint($mobile-bp) {
        max-width: none;
        padding: 1.5rem;
    }
}

.work__title {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: $white;
    font-weight: 500;
    a {
        color: inherit;
    }
    @include breakpoint($mobile-bp) {
        margin-bottom: 2rem;
    }
}

.work__description {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 300;
    color: #d2d2d2;
    margin-bottom: 3rem;
    @include breakpoint($mobile-bp) {
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }
}

.work__footer {
    margin-top: auto;
    text-align: right;
    @include breakpoint($mobile-bp) {
        text-align-last: left;
    }
}