<div class="modal" id="contact-modal">
    <div class="modal__content">
        <form class="form" action="/" method="POST">
            <button class="modal__close" type="button">
                <img src="../assets/images/icons/close.svg" alt="" width="24">
            </button>

            <div class="form__group form__group--md">
                <input class="form__control" type="text" placeholder="Ваше имя">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <input class="form__control" type="email" placeholder="Введите ваш email">
                <span class="form__line"></span>
            </div>


            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" placeholder="текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>

            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
                </div>
            </div>
        </form>
        <ul class="modal__footer">
            <li>E-mail: <a href="mailto:freedom-75@mail.ru">freedom-75@mail.ru</a></li>
            <li>Tel: <a href="tel:+79147309775">+7 (914) 730 97 75</a></li>
        </ul>
    </div>
</div>