<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a class="nav__link" href="index.html">Главная</a>
                </li>
                <li>
                    <a class="nav__link" href="search.html">Статьи</a>
                </li>
                <li>
                    <a class="nav__link" href="">Новости</a>
                </li>
                <li>
                    <a class="nav__link" href="">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a class="nav__link" href="profile.html">Профиль</a>
                </li>
            </ul>
        </nav>
        <form class="search" action="/" method="get">
            <input class="search__input" type="text" placeholder="Поиск по блогу"></form>
    </div>
</header>