<div class="modal">
    <div class="modal__content" id="story-modal">
        <form class="form" action="/" method="POST">
            <button class="modal__close" type="button">
                <img src="../assets/images/icons/close.svg" alt="" width="24">
            </button>
            <h3 class="modal__content-title">Поделиться в социальных сетях</h3>

            <ul class="social">
                <li class="social__item">
                    <a href="https://www.instagram.com/webcode20/" class="social__link" target="_blank">
                        <img src="../assets/images/icons/mycollection/001-instagram.svg" alt="" width="28">
                    </a>
                </li>
                <li class="social__item">
                    <a href="facebook.com" class="social__link" target="_blank">
                        <img src="../assets/images/icons/mycollection/003-facebook.svg" alt="" width="28">
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://vk.com/id287574883" class="social__link" target="_blank">
                        <img src="../assets/images/icons/mycollection/002-vk.svg" alt="" width="28">
                    </a>
                </li>
            </ul>

    </div>
</div>