<aside class="sidebar">
    <div class="sidebar__header">
        <img src="../assets/images/sidebar-bg.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img src="https://placehold.it/100" alt="" class="profile__avatar">
            <div class="profile__name">
                Павел Пономарев
            </div>
            <div class="profile__prof">
                Веб разработчик
            </div>


            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="../assets/images/icons/svg/002-instagram.svg" alt="Павел Пономарев instagram" width="28">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="../assets/images/icons/svg/001-facebook.svg" alt="Павел Пономарев facebook" width="28">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="../assets/images/icons/svg/003-vk.svg" alt="Павел Пономарев vk" width="28">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, quam saepe! Necessitatibus sint nam eaque, doloremque ullam ex voluptatem fuga.</p>
            </div>
        </div>
        <!-- end/profile -->
    </div>
    <!-- end/sidebar -->
    <div class="sidebar__footer">
        <a href="#" class="btn btn--red">Мои работы</a>
        <button class="btn btn--blue" type="button">
            Написать мне
        </button>
    </div>
</aside>